body {
  min-width: 400px;
  min-height: 300px;

}

a {
padding: 10px 0px 10px 0px;
display:block;

background: #F7864B;
font-size: medium;

color:#000000;
border-radius:15px;
text-align: center;
}
#tags{
  float:left;
  border:1px solid #ccc;
  padding:4px;
  font-family:Arial;
}
#tags span.tag{

  display:block;
  float:left;
  color:#555;
  background:#add;
  padding:5px 5px;
  padding-right:10px;
  margin:4px;
}
#tags span.tag:hover{
  opacity:0.7;

}

img:hover{
  cursor: pointer;

}

#tags input{
  background:#eee;
  border:0;
  margin:4px;
  padding:7px;
  width:auto;
}

#orden {
  display: inline;
}

#botonLog{
  margin-right: 10%;
}

#agregarUsu{
  margin-right: 17%;
}

.loader {
  border: 8px solid #f3f3f3; /* Light grey */
  border-top: 8px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;


    margin-left: auto;
    margin-right: auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
